{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
<script  type="module">
    import { Calendar } from '@fullcalendar/core'
    import interactionPlugin from '@fullcalendar/interaction'
    import dayGridPlugin from '@fullcalendar/daygrid'
    // //
    const calendarEl = document.getElementById('calendar')
    const calendar = new Calendar(calendarEl, {
        plugins: [
            interactionPlugin,
            dayGridPlugin
        ],
        initialView: 'dayGridMonth',
        editable: false,
        events: [
            { title: 'Meeting', start: new Date() },
            { title: 'Another Meeting', start: new Date() }
        ]
    })

    calendar.render()

</script>
{% endblock %}
{% block body %}

    <h1>Calendar</h1>
    <div id="calendar">
        The calendar will go here.
    </div>

    <h3>Importmap (in the head tag)</h3>
    <pre>{{ importmap()|escape|raw }}</pre>
    <h3>Javascript</h3>
    <pre>{{ js|escape|raw }}</pre>


{% endblock %}

