{% extends 'base.html.twig' %}

{% block body %}
    <card>
        <grid>
            <div col="1/4">
                <h3>
                    Twig Component
                </h3>
            </div>
            <div col="3/4">
                <twig:Calendar :events="events" />
                <code>&lt;twig:Calendar :events="events" /&gt;</code>

            </div>
        </grid>
        <grid>
            <div col="1/4">
                <h3>
                    Stimulus
                </h3>
            </div>
            <div col="3/4">
                <div {{ stimulus_controller('calendar', {initialView: 'dayGridWeek', events: events} ) }}>
                    <code>stimulus_controller('calendar', {initialView: 'dayGridWeek', events: events} </code>
                </div>
            </div>
        </grid>
    </card>
    The issue with loading fullcalendar as a module is <a href="{{ path('app_fullcalendar') }}">here</a>

    {{ readme|raw|markdown_to_html|raw|add_att_attributes|raw }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# Hack to make the links visible #}
    <style>
        section > ul > li > a::before,
        section > ul > li > ul > li > a::before {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            background: #fd0;
            position: absolute;
            opacity: .5;
            -webkit-transform: scale3d(1, .1, 1);
            transform: scale3d(1, .1, 1);
            -webkit-transform-origin: bottom;
            transform-origin: bottom;
            z-index: -1;
        }

        section > ul > li > a:hover::before,
        section > ul > li > ul > li > a:hover::before {
            -webkit-transform: none;
            transform: none;
        }
    </style>
{% endblock %}
